<div id="dataTable">
  <div id="apiLink">
    <em>Data from: <span class="timestamp"></span></em>
    <span class="link-container">
      <a>refresh</a>
    </span>
    <img class="loading-img" src="../static/images/loading/loading-ellipsis.svg" />
    <!-- <div style="margin-top: -110px; margin-left: 200px; margin-bottom: -90px;">
      {% include '_loading-triangle.html' %}
    </div> -->
  </div>

  <div class="col-xs-12 custom-table">
    <div class="custom-head">
      <div class="row">
        <div class="col-xs-2 custom-cell">Date</div>
        <div class="col-xs-4 custom-cell">Address</div>
        <div class="col-xs-4 custom-cell">Offense</div>
        <div class="col-xs-1 custom-cell" data-toggle="tooltip" data-placement="bottom" title="">Statute</div>
        <div class="col-xs-1 custom-cell">Counts</div>
      </div>
    </div>

    <div class="custom-body"></div>
  </div>
</div>
