<div id="dataTable">
  <em>Data from: <span class="timestamp">0000</span></em>
  <span>
    <a id="apiLink">GET</a>
  </span>

  <div class="col-xs-12 custom-table">
    <div class="custom-head">
      <div class="row">
        <div class="col-xs-2 custom-cell">Date</div>
        <div class="col-xs-4 custom-cell">Address</div>
        <div class="col-xs-4 custom-cell">Offense</div>
        <div class="col-xs-1 custom-cell" data-toggle="tooltip" data-placement="bottom" title="">Statute</div>
        <div class="col-xs-1 custom-cell">Counts</div>
      </div>
    </div>

    <div class="custom-body"></div>
  </div>
</div>
