<div id="dataTable">
  <div id="apiOptionBar">
    <div>
      <label for="apiLimit">Limit:</label>
      <select id="apiLimit">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>

    <label for="apiDateFrom">From:</label>
    <input type="date" id="apiDateFrom" />

    <label for="apiDateTo">To:</label>
    <input type="date" id="apiDateTo" />
  </div>

  <div id="apiLink">
    <em>Data from: <span class="timestamp"></span></em>
    <span class="link-container">
      <a>refresh</a>
      <img class="loading-img" src="../static/images/loading/loading-ellipsis.svg" />
    </span>
    <!-- <div style="margin-top: -110px; margin-left: 200px; margin-bottom: -90px;">
      {% include '_loading-triangle.html' %}
    </div> -->
  </div>

  <div class="col-xs-12 custom-table">
    <div class="custom-head">
      <div class="row">
        <div class="col-xs-2 custom-cell custom-expand">Date</div>
        <div class="col-xs-4 custom-cell">Address</div>
        <div class="col-xs-4 custom-cell">Offense</div>
        <div class="col-xs-1 custom-cell custom-hide" data-toggle="tooltip" data-placement="bottom" title="">Statute</div>
        <div class="col-xs-1 custom-cell custom-hide">Counts</div>
      </div>
    </div>

    <div class="custom-body"></div>
  </div>
</div>
